html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Set the fixed height of the footer here */
footer {
  height: 60px;
  font-size: smaller;
  text-align: center; /* center align it with the container */
}
.content {
  margin-top: 45px;
  min-height: 500px;
}
.r3dalign-results #tabbed_content {
  margin-top: 10px;
}
.r3dalign-results #basepairs, .r3dalign-results pre {
  max-height: 470px;
  overflow:auto;
}
.r3dalign-results pre {
  font-size: 0.6em;
  font-family: monospace;
}

/*hide extra whitespace in the bar diagram*/
.r3dalign-results a.thumbnail {
    overflow: hidden;
}
.r3dalign-results-crop {
    margin: -210px 0px -30px 0px;
}

/* basepair comparison table */
.r3dalign-results .basepair-table td {
    border-top: 0px;
}
.r3dalign-results .cWW,
.r3dalign-results .ncWW {
    background-color: rgb(31, 183, 20);
}
.r3dalign-results .tWW,
.r3dalign-results .ntWW {
    background-color: rgb(242, 243, 5);
}
.r3dalign-results .cWH,
.r3dalign-results .ncWH,
.r3dalign-results .cHW
.r3dalign-results .ncHW {
    background-color: rgb(255, 204, 153);
}
.r3dalign-results .tWH,
.r3dalign-results .ntWH,
.r3dalign-results .tHW,
.r3dalign-results .ntHW {
    background-color: rgb(255, 153, 0);
}
.r3dalign-results .cWS,
.r3dalign-results .ncWS,
.r3dalign-results .cSW,
.r3dalign-results .ncSW {
    background-color: rgb(0, 204, 255);
}
.r3dalign-results .tWS,
.r3dalign-results .ntWS,
.r3dalign-results .tSW,
.r3dalign-results .ntSW {
    background-color: rgb(51, 102, 255);
}
.r3dalign-results .cHS,
.r3dalign-results .ncHS,
.r3dalign-results .cSH,
.r3dalign-results .ncSH {
    background-color: rgb(242, 8, 132);
}
.r3dalign-results .tHS,
.r3dalign-results .ntHS,
.r3dalign-results .tSH,
.r3dalign-results .ntSH {
    background-color: rgb(255, 153, 204);
}
.r3dalign-results .cSS,
.r3dalign-results .ncSS{
    background-color: rgb(255, 255, 153);
}
.r3dalign-results .tSS,
.r3dalign-results .ntSS {
    background-color: rgb(254, 167, 70);
}
.r3dalign-results .cHH,
.r3dalign-results .ncHH {
    background-color: rgb(144, 0, 0);
}
.r3dalign-results .tHH,
.r3dalign-results .ntHH {
    background-color: rgb(144, 113, 58);
}

/* Home page styling */
.r3dalign-homepage .advanced-options,
.r3dalign-homepage .mol1,
.r3dalign-homepage .mol2,
.r3dalign-homepage .results,
.r3dalign-homepage #message,
.r3dalign-homepage .iteration2,
.r3dalign-homepage .iteration3 {
  display: none;
}
.r3dalign-homepage .advanced-options,
.r3dalign-homepage .advanced-options label,
.r3dalign-homepage .advanced-options input,
.r3dalign-homepage .advanced-options legend,
.r3dalign-homepage input,
.r3dalign-homepage button,
.r3dalign-homepage .small {
  font-size: 13px;
}
.r3dalign-homepage #message {
  margin-left: -20px;
}
.r3dalign-homepage select {
  font-size: 12px;
}
.r3dalign-input-mini {
  width: 30px;
  text-align: center;
}
.r3dalign-homepage .fragment .add-on {
  margin-left: 10px;
}
.r3dalign-homepage .fragment {
  margin-bottom: 5px;
}
.r3dalign-homepage .about p {
  margin-bottom: 2px;
}
.r3dalign-homepage .well {
  margin-bottom: 10px;
}
.r3dalign-homepage .alert {
  margin: 10px auto 10px auto;
}
.pdb_info {
  border-bottom: 1px dotted;
  color: #333;
}
.pdb_info:hover {
  text-decoration: none;
  cursor: pointer;
}
.r3dalign-homepage .advanced-options input {
  padding: 1px;
  margin-bottom: 2px;
}
.r3dalign-homepage .iteration1,
.r3dalign-homepage .iteration2,
.r3dalign-homepage .iteration3 {
  margin-left: 0px;
}
.r3dalign-homepage .dropdown-menu li {
  cursor: pointer;
}
.r3dalign-homepage .mol1,
.r3dalign-homepage .mol2 {
  margin-top: 5px;
}
/*
.r3dalign-homepage input[type="file"] {
  width: 206px;
}
*/