# adapted from https://gist.github.com/2427167

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

# codeigniter deployment-specific files
.htaccess
application/config/config.php
application/config/database.php
application/config/email.php
application/config/r3dalign.php
application/cache/*

# project specific
queue/r3dalign_queue_config.pl
matlab/importConfig.m
*.app
PrecomputedData
